body{
	text-align: center;
	/*background-color: #dcdcdc;*/
	background: url('webBackground.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
}

ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li a{
	float: left;
	display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
    color: #ffffff;
}

h3{
	text-align: left;
}

.active {
    background-color: #4169e1;
    color: #000000;
}

#container{
	font-family: 'Verdana';
	margin: 0 auto;
	width: 70%;
	text-align: left;
	border: 1px solid;
	border-spacing: 10px 10px;
	background:rgba(255,255,255,0.6);
}

#header{
	font-family: 'Verdana';
	margin: 0 auto;
	width: 70%;
	text-align: center;
	border: 1px solid;
	background:rgba(255,255,255,0.6);
}

